{% extends 'base.html' %}


{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<span class="login100-form-title p-b-51">
					Welcome!!<br>
				</span>
				<div class="container-login100-form-btn m-t-17">
					<button class="login100-form-btn">
						<a class="login100-form-btn" href="/logout">Logout</a>
					</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}